/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --main-text:"Gilroy";
  --accent-text:"ITC Avant Garde Gothic Std";
  --main-color-bg:#F9F9F9;
  --accent-color-bg: #fff;
  --color-placeholder:#DADADA;
  --accent-color:#75BF7A;
  --color-main-text:#9E9DA2;
  --accent-color-text:#000;
  --additional-color:#fff;
  --footer-color-text:#8B8BA5;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--main-text), sans-serif;
  background-color: var(--main-color-bg);
  color: var(--color-main-text);
  overflow-x: hidden;
}

.container {
  max-width: 1310px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.header {
  padding: clamp(2.813rem, 1.384rem + 5.19vw, 5.313rem) 0 35px;
  max-height: 170px;
  background-color: var(--accent-color-bg);
}
@media (max-width: 900px) {
  .header {
    background-color: inherit;
  }
}

.nav {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 47px;
  gap: 46px;
}
@media (max-width: 900px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item {
  font-size: 17.161px;
  font-weight: 500;
}

.nav-list__link {
  color: var(--accent-color-text);
  transition: 0.2s ease-in;
}
.nav-list__link:hover {
  color: var(--accent-color);
}

.button {
  color: var(--additional-color);
  padding: 0 29px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5.952px;
  background-color: var(--accent-color);
  transition: 0.2s ease-in;
  line-height: 50px;
}
.button:hover {
  transform: scale(1.1);
}
@media (max-width: 900px) {
  .button {
    display: none;
  }
}

.nav-mobile {
  display: none;
  position: fixed;
  padding: 120px 10px;
  top: 0;
  right: 0;
  max-width: 250px;
  width: 100%;
  height: 100vh;
  background-color: rgba(117, 191, 122, 0.9);
  transform: translateY(-100%);
  transition: transform 0.5s ease-in;
}
@media (max-width: 900px) {
  .nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
.nav-mobile.open {
  transform: translateY(0%);
}

.nav-mobile__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
  font-weight: 500;
}
.nav-mobile__list a {
  color: var(--additional-color);
}
.nav-mobile__list a:hover {
  color: #DADADA;
}

.nav-mobile__icon {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
@media (max-width: 900px) {
  .nav-mobile__icon {
    display: flex;
  }
}

.nav-mobile__icon-item {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: var(--accent-color-text);
  border-radius: 20px;
}
.nav-mobile__icon-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 25px;
  height: 4px;
  background-color: var(--accent-color-text);
  border-radius: 20px;
  transition: top 0.3s ease-in-out;
}
.nav-mobile__icon-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 25px;
  height: 4px;
  background-color: var(--accent-color-text);
  border-radius: 20px;
  transition: bottom 0.3s ease-in;
}
.nav-mobile__icon-item--active {
  background-color: transparent;
  transition: background-color 0.2s step-end;
  position: fixed;
}
.nav-mobile__icon-item--active::before {
  top: 0;
  transform: rotate(45deg);
  background-color: var(--additional-color);
  transition: top 0.2s ease-in-out, transform 0.6s ease-in, background-color 0.3s ease-in-out;
}
.nav-mobile__icon-item--active::after {
  bottom: 0;
  transform: rotate(-45deg);
  background-color: var(--additional-color);
  transition: bottom 0.2s ease-in, transform 0.6s ease-in, background-color 0.3s ease-in-out;
}

.nav-mobile__btn {
  color: var(--additional-color);
  padding: 0 29px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5.952px;
  background-color: var(--accent-color-text);
  transition: 0.2s ease-in;
  line-height: 50px;
}
.nav-mobile__btn:hover {
  outline: 1px solid var(--additional-color);
  background-color: transparent;
}

.logo img {
  height: clamp(1.688rem, 1.203rem + 2.42vw, 3.188rem);
}

.main {
  padding: clamp(0rem, -10.114rem + 16.86vw, 3.688rem) 0 clamp(54px, -1.859rem + 23.26vw, 275px);
}

.main-row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .main-row {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
}

.main-row__col {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  max-width: 560px;
}
@media (max-width: 900px) {
  .main-row__col {
    gap: 24px;
    align-items: center;
  }
}

.main-row__col-title {
  color: var(--accent-color-text);
  font-size: clamp(1.938rem, 1.331rem + 3.03vw, 3.813rem);
  font-weight: 800;
  line-height: 1.08;
  margin-bottom: 27px;
}
@media (max-width: 900px) {
  .main-row__col-title {
    text-align: center;
    margin-bottom: 0;
  }
}

.main-row__col-description {
  font-size: clamp(1.188rem, 1.086rem + 0.51vw, 1.5rem);
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 62px;
}
@media (max-width: 900px) {
  .main-row__col-description {
    text-align: center;
    margin-bottom: 0;
  }
}

.main-row__col-download-btn {
  display: flex;
  gap: clamp(1.063rem, 0.767rem + 1.48vw, 1.875rem);
}

.btn-dwl {
  display: flex;
  align-items: center;
  color: var(--additional-color);
  font-size: clamp(0.875rem, 0.673rem + 1.01vw, 1.5rem);
  font-weight: 800;
  text-transform: uppercase;
  padding: 0 clamp(1.125rem, 0.807rem + 1.59vw, 2rem);
  line-height: clamp(2.438rem, 1.801rem + 3.18vw, 4.188rem);
  border-radius: 5px;
  background-color: var(--accent-color-text);
  transition: 0.2s ease-in;
}
.btn-dwl img {
  margin-right: clamp(0.313rem, 0.153rem + 0.8vw, 0.75rem);
  width: 100%;
}
.btn-dwl:hover {
  background-color: var(--accent-color);
}

.get-link {
  display: flex;
  gap: 10px;
  align-items: center;
  max-height: 167px;
  margin: 86px 0 128px;
  padding: 55px clamp(2.688rem, -1.017rem + 6.59vw, 4.375rem);
  border-radius: 10px;
  background-color: var(--accent-color);
}
@media (max-width: 900px) {
  .get-link {
    flex-direction: column;
    max-height: 250px;
    gap: 25px;
    padding: 22px 20px 30px;
  }
}

.get-link__form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: clamp(0.625rem, 0.208rem + 1.85vw, 1.25rem);
}
@media (max-width: 900px) {
  .get-link__form {
    flex-direction: column;
    max-width: 600px;
  }
}

.get-link__form-desc {
  color: var(--additional-color);
  max-width: 246px;
  font-size: 24.601px;
  font-weight: 600;
  line-height: 1.13;
}

.get-link__form-input {
  padding: 0 35px;
  line-height: clamp(3rem, 2.55rem + 2vw, 4.188rem);
  max-width: clamp(19.375rem, -6.692rem + 46.34vw, 31.25rem);
  width: 100%;
  border-radius: 4.393px;
  background-color: var(--additional-color);
  color: var(--color-placeholder);
  font-size: 20px;
  font-weight: 600;
}
.get-link__form-input::-moz-placeholder {
  color: var(--color-placeholder);
  font-size: clamp(1rem, 0.905rem + 0.42vw, 1.25rem);
  font-weight: 600;
}
.get-link__form-input::placeholder {
  color: var(--color-placeholder);
  font-size: clamp(1rem, 0.905rem + 0.42vw, 1.25rem);
  font-weight: 600;
}
@media (max-width: 900px) {
  .get-link__form-input {
    max-width: inherit;
  }
}

.get-link__form-btn {
  padding: 0 clamp(1.125rem, -1.893rem + 5.37vw, 2.5rem);
  color: #FFF;
  line-height: clamp(3rem, 2.55rem + 2vw, 4.188rem);
  font-family: Gilroy;
  font-size: clamp(1.125rem, 0.576rem + 0.98vw, 1.375rem);
  font-style: normal;
  font-weight: 800;
  border-radius: 4px;
  background-color: #000;
  transition: 0.2s ease-in;
}
.get-link__form-btn:hover {
  outline: 2px solid #fff;
  background-color: transparent;
}
@media (max-width: 900px) {
  .get-link__form-btn {
    width: inherit;
  }
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.work-header {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  margin: 0 auto;
  padding-bottom: 66px;
  text-align: center;
  align-items: center;
}

.work-header__title {
  margin-bottom: 25px;
  color: var(--accent-color-text);
  font-size: clamp(1.5rem, 0.911rem + 2.62vw, 2.875rem);
  font-weight: 800;
  line-height: 1.08;
}
.work-header__title span {
  color: var(--accent-color);
}

.work-header__desc {
  color: var(--color-main-text);
  text-align: center;
  font-size: clamp(1.125rem, 0.991rem + 0.6vw, 1.438rem);
  font-weight: 500;
  line-height: 1.13;
}

.work-main {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 900px) {
  .work-main {
    grid-template-columns: unset;
  }
}

.work-main__col {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  row-gap: 84px;
  position: relative;
}
.work-main__col:first-child {
  text-align: end;
}
@media (max-width: 900px) {
  .work-main__col {
    display: none;
  }
}

.work-main__col-mobile {
  display: none;
}
@media (max-width: 900px) {
  .work-main__col-mobile {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 52px;
  }
}

.work-main__col-mobile__title {
  margin-bottom: -20px;
}

.work-main__col-wrapper {
  align-self: center;
}

.work-main__col-img {
  margin-bottom: 4px;
}

.work-main__col-circle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: clamp(320px, 17.857rem + 9.52vw, 400px);
  height: clamp(320px, 17.857rem + 9.52vw, 400px);
  background-color: var(--accent-color);
  border-radius: 50%;
}
@media (max-width: 900px) {
  .work-main__col-circle {
    margin-top: 30px;
    margin-bottom: 120px;
  }
}

.work-main__col-phone {
  margin: -36px auto 0;
}
@media (max-width: 900px) {
  .work-main__col-phone {
    margin-top: -66px;
  }
}
@media (max-width: 640px) {
  .work-main__col-phone {
    max-width: 230px;
  }
}

.work-main__col-pagination {
  margin: 62px auto 0;
}
@media (max-width: 900px) {
  .work-main__col-pagination {
    margin-top: 35px;
  }
}

.work-main__col-phone img:first-child {
  margin-bottom: 30px;
}

.work-main__col-title {
  color: var(--accent-color-text);
  font-size: clamp(1.25rem, 0.875rem + 0.67vw, 1.375rem);
  font-weight: 800;
  line-height: 2.28;
}

.work-main__col-desc {
  font-size: clamp(1.125rem, 0.75rem + 0.67vw, 1.25rem);
  font-weight: 500;
  line-height: 1.3;
  min-height: 110px;
}
@media (max-width: 900px) {
  .work-main__col-desc {
    max-width: 400px;
    min-height: unset;
  }
}

.title {
  color: var(--accent-color-text);
  font-size: clamp(1.5rem, 0.911rem + 2.62vw, 2.875rem);
  font-weight: 800;
  line-height: 1.08;
  text-transform: uppercase;
}
.title span {
  color: var(--accent-color);
}

.benefits {
  padding-top: 87px;
}

.benefits__title {
  text-align: center;
  margin-bottom: 52px;
}

.benefits__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.benefits__wrapper-row {
  padding: 25px clamp(2.25rem, 0.497rem + 7.79vw, 6.875rem) 25px 36px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  max-width: 1060px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--additional-color);
}
.benefits__wrapper-row:nth-child(even) {
  padding-left: clamp(2.25rem, 0.497rem + 7.79vw, 6.875rem);
  padding-right: 60px;
  flex-direction: row-reverse;
  margin-left: clamp(0px, -17.137rem + 27.42vw, 85px);
}
@media (max-width: 640px) {
  .benefits__wrapper-row:nth-child(even) {
    flex-direction: column;
    padding: 33px 36px 57px;
  }
}
@media (max-width: 640px) {
  .benefits__wrapper-row {
    flex-direction: column;
    text-align: center;
    padding: 33px 36px 57px;
  }
}

.benefits__wrapper-row__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (max-width: 640px) {
  .benefits__wrapper-row__text {
    gap: 30px;
  }
}

.benefits__wrapper-row__text-wrap {
  display: flex;
  align-items: center;
}
.benefits__wrapper-row__text-wrap span {
  margin-right: clamp(1.75rem, 1.466rem + 1.26vw, 2.5rem);
  color: var(--accent-color);
  font-size: clamp(4.063rem, 3.473rem + 2.62vw, 5.438rem);
  font-weight: 500;
  line-height: 1.35;
}

.benefits__wrapper-row__text-title {
  max-width: 300px;
  color: var(--accent-color-text);
  font-size: clamp(1.563rem, 1.321rem + 1.07vw, 2.125rem);
  font-weight: 600;
  line-height: 1.06;
}

.benefits__wrapper-row__text-subtitle {
  font-size: clamp(1rem, 0.839rem + 0.71vw, 1.375rem);
  font-weight: 500;
  line-height: 1.04;
  max-width: 385px;
  overflow: hidden;
}

.benefits__wrapper-row__img {
  max-width: 256px;
}
@media (max-width: 640px) {
  .benefits__wrapper-row__img {
    display: none;
  }
}

.benefits__wrapper-row__img-mobile {
  display: none;
}
@media (max-width: 640px) {
  .benefits__wrapper-row__img-mobile {
    display: block;
    max-width: 248px;
  }
}

.footer {
  padding-bottom: 200px;
  margin-top: auto;
  background-color: var(--accent-color-bg);
  border-top: 1px solid #ECECEC;
}
@media (max-width: 640px) {
  .footer {
    border-top: unset;
    padding-bottom: 160px;
  }
}

.footer-row {
  padding: 70px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 640px) {
  .footer-row {
    flex-direction: column;
    gap: 40px;
  }
}

.footer-row__logo {
  flex-grow: 1;
  text-align: center;
}

.footer-row__wrapper {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: clamp(20px, -9.435rem + 17.1vw, 73px);
       column-gap: clamp(20px, -9.435rem + 17.1vw, 73px);
  row-gap: 30px;
  justify-content: flex-end;
}
@media (max-width: 900px) {
  .footer-row__wrapper {
    text-align: center;
  }
}
@media (max-width: 640px) {
  .footer-row__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 40px;
  }
}

.footer-row__col {
  max-width: 210px;
}

.footer-row__col-title {
  color: #272042;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 21px;
}

.footer-row__col-list {
  display: grid;
  row-gap: 15px;
}

.footer-row__col-list__item a {
  color: var(--footer-color-text);
  font-size: 18px;
  font-weight: 400;
  transition: 0.2s ease-in;
}
.footer-row__col-list__item a:hover {
  color: var(--accent-color);
}

.footer-row__btn {
  margin-left: clamp(0rem, -10.081rem + 16.13vw, 3.125rem);
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 640px) {
  .footer-row__btn {
    flex-direction: column;
    gap: 8px;
  }
}

.footer-row__btn-dwnl {
  display: flex;
  align-items: center;
  padding: 0 22px;
  color: #FFF;
  font-size: 16.89px;
  font-weight: 800;
  line-height: 46px;
  border-radius: 3.433px;
  background-color: #000;
  transition: 0.2s ease-in;
}
.footer-row__btn-dwnl img {
  max-width: 30px;
  margin-right: 7px;
}
.footer-row__btn-dwnl:hover {
  background-color: var(--accent-color);
}

.footer__copyright {
  padding-top: 40px;
  color: var(--accent-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border-top: 1px solid #ECECEC;
}
@media (max-width: 640px) {
  .footer__copyright {
    color: inherit;
    border-top: unset;
    padding-top: unset;
  }
}/*# sourceMappingURL=main.css.map */