.main {
    padding: clamp(0rem, -10.114rem + 16.86vw, 3.688rem) 0 clamp(54px, -1.859rem + 23.26vw, 275px);
}

.main-row {
    display: flex;
    justify-content: space-between;

    @include tablet () {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }
}

.main-row__col {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 560px;

    @include tablet(){
        gap: 24px;
        align-items: center;
    }
   
}

.main-row__col-title {
    color: var(--accent-color-text);
    font-size: clamp(1.938rem, 1.331rem + 3.03vw, 3.813rem);
    font-weight: 800;
    line-height: 1.08; 
    margin-bottom: 27px;

    @include tablet(){
        text-align: center;
        margin-bottom: 0;
    }
}

.main-row__col-description {
    font-size: clamp(1.188rem, 1.086rem + 0.51vw, 1.5rem);
    font-weight: 500;
    line-height: 1.16; 
    margin-bottom: 62px;

    @include tablet(){
        text-align: center;
        margin-bottom: 0;
    }
}

.main-row__col-download-btn {
    display: flex;
    gap: clamp(1.063rem, 0.767rem + 1.48vw, 1.875rem);
}
