.main {
    padding: clamp(0rem, -10.114rem + 16.86vw, 3.688rem) 0 clamp(54px, -1.859rem + 23.26vw, 275px);
}

.main-row {
    display: flex;
    justify-content: space-between;

    @include tablet () {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }
}

.main-row__col {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 560px;

    @include tablet(){
        gap: 24px;
        align-items: center;
    }
   
}

.main-row__col-title {
    color: var(--accent-color-text);
    font-size: clamp(1.938rem, 1.331rem + 3.03vw, 3.813rem);
    font-weight: 800;
    line-height: 1.08; 
    margin-bottom: 27px;

    @include tablet(){
        text-align: center;
        margin-bottom: 0;
    }
}

.main-row__col-description {
    font-size: clamp(1.188rem, 1.086rem + 0.51vw, 1.5rem);
    font-weight: 500;
    line-height: 1.16; 
    margin-bottom: 62px;

    @include tablet(){
        text-align: center;
        margin-bottom: 0;
    }
}

.main-row__col-download-btn {
    display: flex;
    gap: clamp(1.063rem, 0.767rem + 1.48vw, 1.875rem);
}

.btn-dwl {
    display: flex;
    align-items: center;
    color: var(--additional-color);
    font-size: clamp(0.875rem, 0.673rem + 1.01vw, 1.5rem);
    font-weight: 800;
    text-transform: uppercase;

    padding:0 clamp(1.125rem, 0.807rem + 1.59vw, 2rem);
    line-height: clamp(2.438rem, 1.801rem + 3.18vw, 4.188rem);
    border-radius: 5px;
    background-color:var(--accent-color-text);

    transition: 0.2s ease-in;

    & img {
        margin-right: clamp(0.313rem, 0.153rem + 0.8vw, 0.75rem);
        width: 100%;
    }

    &:hover{
        background-color: var(--accent-color);
    }
}

.main-row__col-img {
}