html{
    scroll-behavior: smooth;
}
html,
body{
    height: 100vh;
}


body{
    display: flex;
    flex-direction: column;
    font-family: var(--main-text), sans-serif;
    background-color: var(--main-color-bg);
    color: var(--color-main-text);
    overflow-x: hidden;
}

.container{
    max-width: 1310px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.none{
    display: none !important;
}